<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% if site.android_app_id %}

<script>
    $(function() {
        var packageName = "{{ site.android_app_id }}"; // com.example.app
        var playStoreURL = "https://play.google.com/store/apps/details?id=" + packageName + "&hl={{ site.android_app_lang }}&gl={{ site.android_app_country }}";

        // Geliştirme için ücretsiz proxy (Production'da kendi backend'ini kullan)
        var proxyURL = "https://cors-anywhere.herokuapp.com/";

        $.get(proxyURL + playStoreURL, function(data) {
            var html = $(data);

            // App icon
            var iconURL = html.find('img.T75of.sHb2Xb').first().attr('src') || html.find('img.T75of').first().attr('src');

            // App title
            var appTitle = html.find('h1 span').first().text();

            // Price (Ücretsizse "Install" gibi gelebilir)
            var price = html.find('meta[itemprop="price"]').attr('content') || "Free";

            // Favicon
            $('link[rel="shortcut icon"]').attr("href", iconURL);

            // Sayfa başlığı
            var $pageTitle = $(".pageTitle");
            if ($.trim($pageTitle.text()).length == 0) {
                $pageTitle.html(appTitle);
            }

            // Büyük ikon
            var $appIconLarge = $(".appIconLarge");
            if (!$appIconLarge.attr('src')) {
                $appIconLarge.attr("src", iconURL);
            }

            // Header ikon
            var $appIconHeader = $(".headerIcon");
            if (!$appIconHeader.attr('src')) {
                $appIconHeader.attr("src", iconURL);
            }

            // App ismi
            var $appName = $(".appName");
            if ($.trim($appName.text()).length == 0) {
                $appName.html(appTitle);
            }

            // Header name
            var $headerName = $(".headerName");
            if ($.trim($headerName.text()).length == 0) {
                $headerName.html(appTitle);
            }

            // Price
            var $appPrice = $(".appPrice");
            if ($.trim($appPrice.text()).length == 0) {
                $appPrice.html(price);
            }

            // Play Store link
            var $appStoreLink = $(".appStoreLink");
            if ($.trim($appStoreLink.attr('href')).length == 0) {
                $appStoreLink.attr("href", playStoreURL);
            }

            console.info({title: appTitle, icon: iconURL, price: price});
        });
    });
</script>

{% endif %}
